@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box;
}

main {
  display: flex;
}

.lhs {
  background-image: url(./images/photo-1585202900225-6d3ac20a6962.avif);
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  height: 100vh;
}

.logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.329);
  height: 15vh;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15rem;
  gap: 2rem;
}

.odin {
  height: 12vh;
}

.name-logo {
  color: white;
  font-family: norse-bold, sans-serif;
  font-size: 4rem;
}

.rhs {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.blurb,
.input-area,
.third {
  flex: 1;
}

.dummy {
  margin-left: 2rem;
  margin-top: 6rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

.input-area {
  background-color: #ffffff;
}

