@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

main {
  display: flex;
}

.lhs {
  background-image: url(./images/photo-1585202900225-6d3ac20a6962.avif);
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  height: 100vh;
}

.logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.329);
  height: 15vh;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15rem;
  gap: 2rem;
}

.odin {
  height: 12vh;
}

.name-logo {
  color: white;
  font-family: norse-bold, sans-serif;
  font-size: 4rem;
}

.rhs {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.blurb,
.middle,
.third {
  flex: 1;
}

.dummy {
  margin-left: 4rem;
  margin-top: 6rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.middle {
  background-color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(150, 147, 147, 0.781);
}

.start {
  width: 100%;
  margin: 3rem 0 2rem 0;
  font-weight: 800;
  font-size: 1.25rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4rem;
  gap: 20px;
  width: 60%;
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

button {
  background-color: #596D48;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  padding: 10px 40px;
  border-radius: 4px;
  margin-top: 3rem;
  margin-left: 4rem;
}

.already {
  margin-top: 2rem;
  margin-left: 4rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #596D48;
  font-weight: 900;
}